* {
  margin: 0px;
  padding: 0px;
}

.rps-heading {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.choices{
  display: flex;
  gap: 30px;
  position: relative;
  top: 4rem;
  left: 30rem;
}

#rock{
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./Components/rock.png);
  background-size: cover;
}
#paper{
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./Components/paper.png);
  background-size: cover;
}
#scissor{
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./Components/scissors.png);
  background-size: cover;
}

#rock:hover{
  opacity: 0.5;
  cursor: pointer;
}
#paper:hover{
  opacity: 0.5;
  cursor: pointer;
}
#scissor:hover{
  opacity: 0.5;
  cursor: pointer;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 6rem;
  gap: 7rem;
}

.user-score,
.comp-score {
  font-size: 3rem;
  margin-left: 1rem ;
}

.msg-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msg {
  background-color: #081b31;
  color: #fff;
  font-size: 1.5rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
